<li><a href="/books">Dina böcker</a></li>
<li><a href="/books/new">Ny bok</a></li>
<li><a href="/genres">Dina genrer</a></li>
<li><a href="/users">Hitta andra användare</a></li>

<h2>Alla böcker du har läst!</h2>

<ul>
    <% @books.each do |books|%>
    <li>
        <a href="/books/<%= books["id"]%>">
            <%= books["title"] %>
        </a>
        
        <p>Författare: <%= books["author"] %> </p>
        <p>Betyg: <%= books["rating"] %> </p>
        

        <form class="delete" action="/books/<%=books["id"]%>/delete" method="POST">
            <input type="submit" value="Ta bort">
        </form>
        
        <form class="edit" action="/books/<%=books["id"]%>/edit" method="get">
            <input type="submit" value="Ändra">
        </form>
    </li>




    <% end %>
</ul>