<li><a href="/books">Dina böcker</a></li>
<li><a href="/books/new">Ny bok</a></li>
<li><a href="/genres">Dina genrer</a></li>
<li><a href="/users">Hitta andra användare</a></li>
 
 <h2>Din Bok: <%=@book['title']%> </h2>

    <p>Författare: <%=@book["author"] %> </p>
    <p> <%=@book["genres"] %> </p>
    <p>Antal sidor: <%=@book["pages"] %> </p>
    <p>Betyg: <%=@book["rating"] %> /5 stjärnor </p>
    <p>Recension: <%=@book["review"] %> </p>
    
    <p>Genrer:</p>
    <% @genres.each do |genre|%>
    <p><%=genre["name"] %></p>
    <% end %>






    <form class="delete" action="/books/<%=@book["id"]%>/delete" method="post">
        <input type="submit" value="Ta bort">
    </form>
    
    <form class="edit" action="/books/<%=@book["id"]%>/edit" method="get">
        <input type="submit" value="Ändra">
    </form>
