 <h2>Din Bok: <%=@books['title']%> </h2>

    <p>Författare: <%=@books["author"] %> </p>
    <p> <%=@books["genre"] %> </p>
    <p>Antal sidor: <%=@books["pages"] %> </p>
    <p>Betyg: <%=@books["rating"] %> /5 stjärnor </p>
    <p>Datum läst: <%=@books["date"] %> </p>
    <p>Recension: <%=@books["review"] %> </p>
    <p>URL-länk: <%=@books["cover"] %> </p>



    <form class="delete" action="/books/<%=@books["id"]%>/delete" method="post">
        <input type="submit" value="Ta bort">
    </form>
    
    <form class="edit" action="/books/<%=@books["id"]%>/edit" method="post">
        <input type="submit" value="Ändra">
    </form>
