 <h2>Din Bok: <%=@book['title']%> </h2>

    <p> <%=@books["author"] %> </p>
    <p> <%=@books["genre"] %> </p>
    <p> <%=@books["pages"] %> </p>
    <p> <%=@books["rating"] %> </p>
    <p> <%=@books["date"] %> </p>
    <p> <%=@books["review"] %> </p>
    <p> <%=@books["cover"] %> </p>



    <form class="delete" action="/books/<%=@books["id"]%>/delete" method="post">
        <input type="submit" value="Ta bort">
    </form>
    
    <form class="edit" action="/books/<%=@books["id"]%>/edit" method="post">
        <input type="submit" value="Ändra">
    </form>
